#chatbot-main-container, #chatbot-main-container-pop-up{
  display: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding: 2rem;
  background-color: #e5e5e5;

  #chatbot-cancel-btn, #chatbot-cancel-btn-pop-up{
    cursor: pointer;
    padding: 5px 15px;
    font-size: 15px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-bottom-left-radius: 5px;
    margin: auto;
    margin-bottom: 10px;
  }

  #classify-symptoms-toggle{
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 15px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }

  .message-display-container{
    width: 100%;
    height: 300px;
    margin: auto;
    border: 1px solid #555;
    padding: 2rem;
    box-shadow: 2px 3px #8888;
    margin-bottom: 20px;
    color: black;
    overflow-y: auto;

    .chatbot-bubble-container, .user-bubble-container{
      padding: 10px;
      background-color: #efefef;
      border-radius: 10px;
      margin: 10px 0px;
      
      .chatbot-name, .chatbot-message{
        text-align: left;
        color: black;
      }

      .user-name, .user-message{
        text-align: right;
        color: #F6F1F1;
      }

      .chatbot-name, .user-name{
        font-size: 12px;
        text-decoration: underline;
      }
    }
    
    .user-bubble-container{
      background-color:var(--main-color);

    }
  }

  .user-options-container{
    #user-input-message-form{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-around;

      .user-input-container{
        width: 100%;
        padding: 5px;
        margin-right: 10px;
        font-size: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
        transition: border-color 0.3s ease;
      }
    }
    button{
      margin-left: 10px;
      padding: 5px 15px;
      font-size: 15px;
      background-color: var(--main-color);
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

#chatbot-main-container-pop-up{
  width: 80%;
  margin: auto;  

  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

@media only screen and (min-width: 601px) and (max-width: 1280px) {
  #chatbot-main-container, #chatbot-main-container-pop-up{
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  #chatbot-main-container, #chatbot-main-container-pop-up{
    width: 100%;
    border: none;
  }

  #chatbot-main-container-pop-up{
    width: 100%;
  }

}