#dhi-lab-main-container{
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;

  font-family: 
  -apple-system,BlinkMacSystemFont,
  "Segoe UI",
  "Roboto",
  "Oxygen",
  "Ubuntu",
  "Cantarell",
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  sans-serif;

  header{
    nav {  
      background-color: #005ea2;
      margin: 0px 0px 20px 0px;
  
      .nav-item{
  
        margin: 10px 0px;
  
        .btn{
          color: rgba(255,255,255,.5);
        }
      }
  
      img.logo{
        width: 50px;
        height: auto;
        object-fit: contain;
        margin: 0px 5px;
      }

      .navbar-text{
        padding-left: 0.75rem;
        padding-right: 0.75rem;
      }

      .site-name-container{
        background-color: white;
        padding: 5px;
        border-radius: 10px;
        text-align: center;

      }
    }
  }
  
  .page-header-container{
    margin-top: 100px;
    margin-bottom: 40px;
  }
  
  .page-content-container{
    margin: auto;
    width: 70%;
  }

  footer {
    width: 100%;
    
    .footer-container{
      
      padding: 20px 0;
      text-align: center;
      color: #fff;
      background-color: #005ea2;
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 1280px) {
  #dhi-lab-main-container{
    
    header{
      nav {  
        .logo{
          display: none;
        }
      }
    }

    .page-content-container{
      width: 90%;
    }
  }
}

@media only screen and (max-width: 600px) {
  #dhi-lab-main-container{
    
    header{
      nav {  
        .logo{
          display: none;
        }
      }
    }

    .page-content-container{
      width: 100%;
    }
  }
}