[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-compressor = "*"
django-libsass = "*"
tensorflow = "*"
nltk = "*"
numpy = "*"
scikit-learn = "*"
matplotlib = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
