/* line 1, main/static/main/sass/main.scss */
#dhi-lab-main-container {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  font-family: -apple-system,BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }
  /* line 22, main/static/main/sass/main.scss */
  #dhi-lab-main-container header nav {
    background-color: #005ea2;
    margin: 0px 0px 20px 0px; }
    /* line 26, main/static/main/sass/main.scss */
    #dhi-lab-main-container header nav .nav-item {
      margin: 10px 0px; }
      /* line 30, main/static/main/sass/main.scss */
      #dhi-lab-main-container header nav .nav-item .btn {
        color: rgba(255, 255, 255, 0.5); }
    /* line 35, main/static/main/sass/main.scss */
    #dhi-lab-main-container header nav img.logo {
      width: 50px;
      height: auto;
      object-fit: contain;
      margin: 0px 5px; }
    /* line 42, main/static/main/sass/main.scss */
    #dhi-lab-main-container header nav .navbar-text {
      padding-left: 0.75rem;
      padding-right: 0.75rem; }
    /* line 47, main/static/main/sass/main.scss */
    #dhi-lab-main-container header nav .site-name-container {
      background-color: white;
      padding: 5px;
      border-radius: 10px;
      text-align: center; }
  /* line 57, main/static/main/sass/main.scss */
  #dhi-lab-main-container .page-content-container {
    margin: 20px auto;
    width: 70%; }
  /* line 62, main/static/main/sass/main.scss */
  #dhi-lab-main-container footer {
    width: 100%; }
    /* line 65, main/static/main/sass/main.scss */
    #dhi-lab-main-container footer .footer-container {
      padding: 20px 0;
      text-align: center;
      color: #fff;
      background-color: #005ea2; }

@media only screen and (min-width: 601px) and (max-width: 1280px) {
  /* line 80, main/static/main/sass/main.scss */
  #dhi-lab-main-container header nav .logo {
    display: none; }
  /* line 86, main/static/main/sass/main.scss */
  #dhi-lab-main-container .page-content-container {
    width: 90%; } }

@media only screen and (max-width: 600px) {
  /* line 97, main/static/main/sass/main.scss */
  #dhi-lab-main-container header nav .logo {
    display: none; }
  /* line 103, main/static/main/sass/main.scss */
  #dhi-lab-main-container .page-content-container {
    width: 100%; } }

/* line 3, main/static/main/sass/login-register.scss */
#login-register-container .form-label-container, #login-register-container .form-container {
  width: 900px;
  margin: auto;
  margin-bottom: 30px; }

/* line 9, main/static/main/sass/login-register.scss */
#login-register-container .form-label-container {
  display: flex;
  align-items: center; }
  /* line 13, main/static/main/sass/login-register.scss */
  #login-register-container .form-label-container .logo {
    width: 80px;
    height: auto;
    margin-right: 20px; }
    /* line 18, main/static/main/sass/login-register.scss */
    #login-register-container .form-label-container .logo img {
      object-fit: cover;
      width: 100%;
      height: auto;
      display: block; }
  /* line 26, main/static/main/sass/login-register.scss */
  #login-register-container .form-label-container .text-container {
    font-size: 30px;
    font-weight: bolder; }

/* line 32, main/static/main/sass/login-register.scss */
#login-register-container .form-container {
  border: 1px solid #555;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding: 2rem; }
  /* line 38, main/static/main/sass/login-register.scss */
  #login-register-container .form-container .options-container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    /* line 43, main/static/main/sass/login-register.scss */
    #login-register-container .form-container .options-container .authentication-link {
      font-size: 12px; }

/* line 48, main/static/main/sass/login-register.scss */
#login-register-container .display-flex {
  display: flex;
  justify-content: space-between; }

@media only screen and (min-width: 601px) and (max-width: 1280px) {
  /* line 56, main/static/main/sass/login-register.scss */
  #login-register-container .form-label-container, #login-register-container .form-container {
    width: 100%; }
  /* line 62, main/static/main/sass/login-register.scss */
  #login-register-container .form-label-container .logo {
    width: 65px; }
  /* line 66, main/static/main/sass/login-register.scss */
  #login-register-container .form-label-container .text-container {
    font-size: 30px;
    font-weight: bolder; } }

@media only screen and (max-width: 600px) {
  /* line 76, main/static/main/sass/login-register.scss */
  #login-register-container .form-label-container, #login-register-container .form-container {
    width: 100%; }
  /* line 80, main/static/main/sass/login-register.scss */
  #login-register-container .form-label-container {
    padding: 0px 2rem; }
    /* line 83, main/static/main/sass/login-register.scss */
    #login-register-container .form-label-container .logo {
      width: 50px; }
    /* line 87, main/static/main/sass/login-register.scss */
    #login-register-container .form-label-container .text-container {
      font-size: 25px;
      font-weight: bolder; }
  /* line 93, main/static/main/sass/login-register.scss */
  #login-register-container .form-container {
    border: none; } }

/* line 3, main/static/main/sass/profile.scss */
#profile-page-container ::-webkit-scrollbar {
  width: 10px; }

/* line 7, main/static/main/sass/profile.scss */
#profile-page-container ::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* line 11, main/static/main/sass/profile.scss */
#profile-page-container ::-webkit-scrollbar-thumb {
  background: #888; }

/* line 15, main/static/main/sass/profile.scss */
#profile-page-container ::-webkit-scrollbar-thumb:hover {
  background: #555; }

/* line 19, main/static/main/sass/profile.scss */
#profile-page-container .form-label-container, #profile-page-container .form-container {
  width: 900px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px; }

/* line 26, main/static/main/sass/profile.scss */
#profile-page-container .form-label-container {
  display: flex;
  align-items: center; }
  /* line 30, main/static/main/sass/profile.scss */
  #profile-page-container .form-label-container .logo {
    width: 80px;
    height: auto;
    margin-right: 20px; }
    /* line 35, main/static/main/sass/profile.scss */
    #profile-page-container .form-label-container .logo img {
      object-fit: cover;
      width: 100%;
      height: auto;
      display: block; }
  /* line 43, main/static/main/sass/profile.scss */
  #profile-page-container .form-label-container .text-container {
    font-size: 30px;
    font-weight: bolder; }

/* line 49, main/static/main/sass/profile.scss */
#profile-page-container .form-container, #profile-page-container .user-profile-container {
  border: 1px solid #555;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding: 2rem; }
  /* line 55, main/static/main/sass/profile.scss */
  #profile-page-container .form-container .options-container, #profile-page-container .user-profile-container .options-container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    /* line 60, main/static/main/sass/profile.scss */
    #profile-page-container .form-container .options-container .authentication-link, #profile-page-container .user-profile-container .options-container .authentication-link {
      font-size: 12px; }

/* line 68, main/static/main/sass/profile.scss */
#profile-page-container .user-profile-container .scrollbar-container {
  height: 450px;
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
  margin-bottom: 20px; }

/* line 76, main/static/main/sass/profile.scss */
#profile-page-container .user-profile-container .user-individual-data-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto; }
  /* line 82, main/static/main/sass/profile.scss */
  #profile-page-container .user-profile-container .user-individual-data-container .data-label, #profile-page-container .user-profile-container .user-individual-data-container .data {
    margin: 5px 0px;
    padding: 5px;
    font-size: 15px;
    border-radius: 6px; }
  /* line 89, main/static/main/sass/profile.scss */
  #profile-page-container .user-profile-container .user-individual-data-container .data-label {
    font-weight: bold; }
  /* line 93, main/static/main/sass/profile.scss */
  #profile-page-container .user-profile-container .user-individual-data-container .data {
    background-color: #e4e4e4;
    width: 300px;
    max-width: 300px; }
  /* line 99, main/static/main/sass/profile.scss */
  #profile-page-container .user-profile-container .user-individual-data-container .bio-container {
    height: 200px;
    overflow-y: scroll; }

/* line 105, main/static/main/sass/profile.scss */
#profile-page-container .user-profile-container .dhi-user-aggreement-container {
  display: flex;
  justify-content: center; }
  /* line 109, main/static/main/sass/profile.scss */
  #profile-page-container .user-profile-container .dhi-user-aggreement-container .dhi-user-aggreement-label {
    margin-right: 5px; }

/* line 115, main/static/main/sass/profile.scss */
#profile-page-container .text-bolder {
  font-weight: bold; }

/* line 119, main/static/main/sass/profile.scss */
#profile-page-container .display-flex {
  display: flex;
  justify-content: space-between; }

@media only screen and (min-width: 601px) and (max-width: 1280px) {
  /* line 127, main/static/main/sass/profile.scss */
  #profile-page-container .form-label-container, #profile-page-container .form-container, #profile-page-container .user-profile-container {
    width: 100%; }
  /* line 133, main/static/main/sass/profile.scss */
  #profile-page-container .form-label-container .logo {
    width: 65px; }
  /* line 137, main/static/main/sass/profile.scss */
  #profile-page-container .form-label-container .text-container {
    font-size: 30px;
    font-weight: bolder; } }

@media only screen and (max-width: 600px) {
  /* line 146, main/static/main/sass/profile.scss */
  #profile-page-container {
    margin-top: 70px; }
    /* line 149, main/static/main/sass/profile.scss */
    #profile-page-container .form-label-container, #profile-page-container .form-container, #profile-page-container .user-profile-container {
      width: 100%; }
    /* line 154, main/static/main/sass/profile.scss */
    #profile-page-container .user-profile-container .user-individual-data-container {
      display: block; }
      /* line 157, main/static/main/sass/profile.scss */
      #profile-page-container .user-profile-container .user-individual-data-container .data {
        width: 100%; }
    /* line 163, main/static/main/sass/profile.scss */
    #profile-page-container .form-label-container {
      padding: 0px 2rem; }
      /* line 166, main/static/main/sass/profile.scss */
      #profile-page-container .form-label-container .logo {
        width: 50px; }
      /* line 170, main/static/main/sass/profile.scss */
      #profile-page-container .form-label-container .text-container {
        font-size: 25px;
        font-weight: bolder; }
    /* line 176, main/static/main/sass/profile.scss */
    #profile-page-container .form-container, #profile-page-container .user-profile-container {
      border: none;
      box-shadow: none; } }

/* line 3, main/static/main/sass/home.scss */
#home-page-container .chatbot-label-container, #home-page-container .chatbot-container {
  margin: auto;
  margin-bottom: 30px; }

/* line 8, main/static/main/sass/home.scss */
#home-page-container .chatbot-label-container {
  display: flex;
  align-items: center; }
  /* line 12, main/static/main/sass/home.scss */
  #home-page-container .chatbot-label-container .logo {
    width: 80px;
    height: auto;
    margin-right: 20px; }
    /* line 17, main/static/main/sass/home.scss */
    #home-page-container .chatbot-label-container .logo img {
      object-fit: cover;
      width: 100%;
      height: auto;
      display: block; }
  /* line 25, main/static/main/sass/home.scss */
  #home-page-container .chatbot-label-container .text-container {
    font-size: 30px;
    font-weight: bolder; }

/* line 31, main/static/main/sass/home.scss */
#home-page-container .chatbot-main-container {
  border: 1px solid #555;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding: 2rem; }
  /* line 37, main/static/main/sass/home.scss */
  #home-page-container .chatbot-main-container #classify-symptoms-toggle {
    margin-bottom: 10px;
    border-radius: 10px; }
  /* line 42, main/static/main/sass/home.scss */
  #home-page-container .chatbot-main-container .message-display-container {
    width: 100%;
    height: 300px;
    margin: auto;
    border: 1px solid #555;
    padding: 2rem;
    box-shadow: 2px 3px #8888;
    margin-bottom: 20px;
    color: black;
    overflow-y: auto; }
    /* line 53, main/static/main/sass/home.scss */
    #home-page-container .chatbot-main-container .message-display-container .chatbot-bubble-container, #home-page-container .chatbot-main-container .message-display-container .user-bubble-container {
      padding: 10px;
      background-color: #efefef;
      border-radius: 10px;
      margin: 10px 0px; }
      /* line 59, main/static/main/sass/home.scss */
      #home-page-container .chatbot-main-container .message-display-container .chatbot-bubble-container .chatbot-name, #home-page-container .chatbot-main-container .message-display-container .chatbot-bubble-container .chatbot-message, #home-page-container .chatbot-main-container .message-display-container .user-bubble-container .chatbot-name, #home-page-container .chatbot-main-container .message-display-container .user-bubble-container .chatbot-message {
        text-align: left;
        color: black; }
      /* line 64, main/static/main/sass/home.scss */
      #home-page-container .chatbot-main-container .message-display-container .chatbot-bubble-container .user-name, #home-page-container .chatbot-main-container .message-display-container .chatbot-bubble-container .user-message, #home-page-container .chatbot-main-container .message-display-container .user-bubble-container .user-name, #home-page-container .chatbot-main-container .message-display-container .user-bubble-container .user-message {
        text-align: right;
        color: white; }
      /* line 69, main/static/main/sass/home.scss */
      #home-page-container .chatbot-main-container .message-display-container .chatbot-bubble-container .chatbot-name, #home-page-container .chatbot-main-container .message-display-container .chatbot-bubble-container .user-name, #home-page-container .chatbot-main-container .message-display-container .user-bubble-container .chatbot-name, #home-page-container .chatbot-main-container .message-display-container .user-bubble-container .user-name {
        font-size: 12px;
        text-decoration: underline; }
    /* line 75, main/static/main/sass/home.scss */
    #home-page-container .chatbot-main-container .message-display-container .user-bubble-container {
      background-color: #005ea2; }
  /* line 82, main/static/main/sass/home.scss */
  #home-page-container .chatbot-main-container .user-options-container #user-input-message-form {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around; }
    /* line 88, main/static/main/sass/home.scss */
    #home-page-container .chatbot-main-container .user-options-container #user-input-message-form .user-input-container {
      width: 100%;
      padding: 5px;
      margin-right: 10px; }

/* line 97, main/static/main/sass/home.scss */
#home-page-container .display-flex {
  display: flex;
  justify-content: space-between; }

@media only screen and (min-width: 601px) and (max-width: 1280px) {
  /* line 105, main/static/main/sass/home.scss */
  #home-page-container .chatbot-label-container, #home-page-container .chatbot-main-container {
    width: 100%; }
  /* line 111, main/static/main/sass/home.scss */
  #home-page-container .chatbot-label-container .logo {
    width: 65px; }
  /* line 115, main/static/main/sass/home.scss */
  #home-page-container .chatbot-label-container .text-container {
    font-size: 30px;
    font-weight: bolder; } }

@media only screen and (max-width: 600px) {
  /* line 125, main/static/main/sass/home.scss */
  #home-page-container .chatbot-label-container, #home-page-container .chatbot-main-container {
    width: 100%; }
  /* line 129, main/static/main/sass/home.scss */
  #home-page-container .chatbot-label-container {
    padding: 0px 2rem; }
    /* line 132, main/static/main/sass/home.scss */
    #home-page-container .chatbot-label-container .logo {
      width: 50px; }
    /* line 136, main/static/main/sass/home.scss */
    #home-page-container .chatbot-label-container .text-container {
      font-size: 25px;
      font-weight: bolder; }
  /* line 142, main/static/main/sass/home.scss */
  #home-page-container .chatbot-main-container {
    border: none; } }

/* line 1, main/static/main/sass/classifier.scss */
#classifier-main-container {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10; }
  /* line 8, main/static/main/sass/classifier.scss */
  #classifier-main-container .classifier-container-background {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center; }
    /* line 17, main/static/main/sass/classifier.scss */
    #classifier-main-container .classifier-container-background .classifier-container {
      width: 70%;
      height: 500px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
      position: relative; }
      /* line 25, main/static/main/sass/classifier.scss */
      #classifier-main-container .classifier-container-background .classifier-container .display-flex {
        display: flex;
        height: 100%;
        width: 100%; }
      /* line 31, main/static/main/sass/classifier.scss */
      #classifier-main-container .classifier-container-background .classifier-container .classify-cancel-btn {
        cursor: pointer;
        position: absolute;
        right: 0;
        padding: 10px; }
      /* line 38, main/static/main/sass/classifier.scss */
      #classifier-main-container .classifier-container-background .classifier-container .disease-list-container {
        width: 300px;
        padding: 10px 20px; }
        /* line 42, main/static/main/sass/classifier.scss */
        #classifier-main-container .classifier-container-background .classifier-container .disease-list-container .disease-search-bar {
          width: 100%;
          margin-bottom: 10px; }
        /* line 47, main/static/main/sass/classifier.scss */
        #classifier-main-container .classifier-container-background .classifier-container .disease-list-container .disease-symptoms-container {
          overflow-y: scroll;
          height: 440px; }
          /* line 51, main/static/main/sass/classifier.scss */
          #classifier-main-container .classifier-container-background .classifier-container .disease-list-container .disease-symptoms-container .individual-symptom {
            padding: 10px 5px;
            border-radius: 5px;
            font-size: 12px;
            cursor: pointer; }
          /* line 58, main/static/main/sass/classifier.scss */
          #classifier-main-container .classifier-container-background .classifier-container .disease-list-container .disease-symptoms-container .individual-symptom:hover {
            background-color: #005ea2;
            color: white; }

@media only screen and (max-width: 600px) {
  /* line 73, main/static/main/sass/classifier.scss */
  #classifier-main-container .classifier-container-background .classifier-container {
    width: 100%;
    border-radius: 0px; }
    /* line 77, main/static/main/sass/classifier.scss */
    #classifier-main-container .classifier-container-background .classifier-container .disease-list-container {
      width: 100%; }
      /* line 80, main/static/main/sass/classifier.scss */
      #classifier-main-container .classifier-container-background .classifier-container .disease-list-container .disease-search-bar {
        width: 80%; } }
