{% extends 'main/base.html' %}

{% load static %}

{% block page_content %}
  <div id="doctors-page-container">

    <div class="page-header-container">
      AFFILIATED DOCTORS
    </div>
    {% if health_care_prof %}
      <div class="single-doctor-main-container">
        
        {% for doctor in health_care_prof %}
          <div class="doctor-card-container">

            <div class="doctor-icon-container">
              {% if doctor.profile_picture %}
                <img src="{{ doctor.profile_picture.url }}" alt="Profile Picture">
              {% else %}
                <img class="doctor-icon" src="{% static 'main/assets/doctor_icon.jpg' %}">
              {% endif %}
            </div>
            
            <hr>

            <div class="name-container">
              {% if doctor.clinic and doctor.clinic_loc %}
                <div>
                  Clinic:
                  <a class="clinic-name" href="{{ doctor.clinic_loc }}"><b>{{ doctor.clinic }}</b></a>
                </div>
              {% else %}
                <div class="first-name">First Name: <b>{{ doctor.first_name }}</b></div>
                <div class="last-name">Last Name: <b>{{ doctor.last_name }}</b></div>
              {% endif %}
            </div>
          
            <div class="specialization-container">
              Specialization: <b>{{ doctor.specialization }}</b>
            </div>
            
            <div class="contact-no-container">
              Contact no: <b>{{ doctor.contact_phone }}</b>
            </div>
          
          </div>
        {% endfor %}
      
      </div>
    {% else %}
      <div class="no-doctors">No healthcare professionals found.</div>
    {% endif %}
  </div>
{% endblock %}