{% extends 'main/base.html' %}

{% load static %}

{% block page_content %}

  <div id="home-page-container">
    <div class="chatbot-label-container">
      <div><img class="logo" src="{% static 'main/assets/logo.svg' %}"></div>
      <div class="text-container">
        Symptoms Checker
      </div>
    </div>
    
    <div class="chatbot-main-container">
      
      <button id="classify-symptoms-toggle">Classify Symptoms</button>
      
      <div class="message-display-container">

        <div class="chatbot-bubble-container">
          <div class="chatbot-name">
            Chatbot
          </div>

          <div class="chatbot-message">
            Hi {% if user.username %} {{ user.username }} {% else %} Guest {% endif %}! Go ahead and send me a message!😄
          </div>

        </div>

      </div>
      
      <div class="user-options-container">
        <form id="user-input-message-form">
          {% csrf_token %}
          <input type="text" class="user-input-container" id="user-input" placeholder="Type your message..."></input>
          <button class="user-message-send-btn" id="user-message-send" type="submit">Send</button>
        </form>
      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#user-input-message-form').submit(function(e) {
        e.preventDefault();
        var user_input = $('#user-input').val();

        $.ajax({
          type: 'GET',
          url: "{% url 'home' %}",
          data: { user_input: user_input },
          success: function(data) {
            var response = data.response;

            let userMessage = '<div class="user-bubble-container"><div class="user-name">' + '{% if user.username %} {{ user.username }} {% else %} Guest {% endif %}' + '</div><div class="user-message">' + user_input + '</div></div>';
            let chatbotResponse = '<div class="chatbot-bubble-container"><div class="chatbot-name">Chatbot</div><div class="chatbot-message">' + response + '</div></div>';
            
            $('.message-display-container').append(userMessage);
            $('.message-display-container').append(chatbotResponse);
            $('#user-input').val(''); 

            const $container = $(".message-display-container");
            $container.scrollTop($container[0].scrollHeight);
          }
        });
      });
      
    });
  </script>
  
  <script type="text/javascript">
    $(document).ready(function () {
      $(".disease-search-bar").on("input", function() {
        var query = $(this).val();
        filterList(query);
      });

      function filterList(query) {
        $.ajax({
          url: "{% url 'filter-symptoms' %}",  
          type: "GET",
          data: { query: query },
          success: function (data) {
            updateFilteredList(data);
          }
        });
      }

      function updateFilteredList(data) {
        var $filteredList = $("#filtered-symptoms");
        $filteredList.empty();
        data.forEach(function (item) {
          $filteredList.append("<div class='individual-symptom'>" + item + "</div>");
        });
        }
    });
  </script>

  <script>
    $(document).ready(function() {
      let selectedSymptoms = [];
      const selectedSymptomsContainer = $('.selected-symptoms-container');

      $('.individual-symptom').click(function() {
        addOrRemoveFromSelectedList(this);
      });
    
      $('#classify-button').click(function() {
        console.log(selectedSymptoms);
      });

      selectedSymptomsContainer.on('click', '.selected-symptom', function() {
        addOrRemoveFromSelectedList(this);
      });

      function addOrRemoveFromSelectedList(container){
        const symptomText = $(container).text().trim();
    
        if ($.inArray(symptomText, selectedSymptoms) === -1) {
          selectedSymptoms.push(symptomText);
          $(this).addClass('selected');
        } else {
          selectedSymptoms.splice($.inArray(symptomText, selectedSymptoms), 1);
          $(this).removeClass('selected');
        }

        updateSelectedSymptoms(selectedSymptomsContainer, selectedSymptoms);
      }

      function updateSelectedSymptoms(container, symptoms) {
        container.empty(); // Clear the container

        if (symptoms.length > 0) {
          for (const symptom of symptoms) {
            const selectedSymptom = $('<div class="selected-symptom">' + symptom + '</div>');
            container.append(selectedSymptom);
          }
        }
      }

    });
  </script>
  
{% endblock %}