{% extends 'main/base.html' %}

{% load static %}

{% block page_content %}

  <div id="home-page-container">

    <div class="classifier-label-container">
      <div><img class="logo" src="{% static 'main/assets/logoD.png' %}"></div>
      <div class="text-container">
        Dr's Lab : Symptoms Classifier
      </div>

      <div id="chatbot-button">
        Dr's Lab Assistant
      </div>
    
    </div>

    <div id="classifier-main-container">
      <div class="classifier-container-background">
        <div class="classifier-container">
        
          <div class="display-flex">
            <div class="disease-list-container">
            
              <input class="disease-search-bar" type="text" placeholder="Search disease">
              
              <div class="disease-symptoms-container" id="filtered-symptoms">
                {% for symptom in symptoms %}
                  <div class="individual-symptom">{{ symptom }}</div>
                {% endfor %}
              </div>
  
            </div>  

            <div class="selected-symptoms-container">
            </div>
            
            <div class="classify-symptoms-btn">
              <button type="button" id="classify-button">Classify</button>
            </div>
            
          </div>
    
        </div>
        
        <div class="classifier-output-container">
          <div class="done-btn">
            Return
          </div>

          <div class="classify-output-container">
            <div class="header">
              Classification Output
            </div>
          </div>
        </div>

      </div>
    </div>

    <div id="chatbot-main-container">
      
      <button id="chatbot-cancel-btn">Close</button>
      
      <div class="message-display-container">

        <div class="chatbot-bubble-container">
          <div class="chatbot-name">
            Chatbot
          </div>

          <div class="chatbot-message">
            Hi {% if user.username %} {{ user.username }} {% else %} Guest {% endif %}! Go ahead and send me a message!😄
          </div>

        </div>

      </div>
      
      <div class="user-options-container">
        <form id="user-input-message-form">
          {% csrf_token %}
          <input type="text" class="user-input-container" id="user-input" placeholder="Type your message..."></input>
          <button class="user-message-send-btn" id="user-message-send" type="submit">Send</button>
        </form>
      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#user-input-message-form').submit(function(e) {
        e.preventDefault();
        var user_input = $('#user-input').val();

        $.ajax({
          type: 'GET',
          url: "{% url 'home' %}",
          data: { user_input: user_input },
          success: function(data) {
            var response = data.response;

            let userMessage = '<div class="user-bubble-container"><div class="user-name">' + '{% if user.username %} {{ user.username }} {% else %} Guest {% endif %}' + '</div><div class="user-message">' + user_input + '</div></div>';
            let chatbotResponse = '<div class="chatbot-bubble-container"><div class="chatbot-name">Chatbot</div><div class="chatbot-message">' + response + '</div></div>';
            
            $('.message-display-container').append(userMessage);
            $('.message-display-container').append(chatbotResponse);
            $('#user-input').val(''); 

            const $container = $(".message-display-container");
            $container.scrollTop($container[0].scrollHeight);
          }
        });
      });
      
    });
  </script>
  
  <script type="text/javascript">
    $(document).ready(function () {
      $(".disease-search-bar").on("input", function() {
        var query = $(this).val();
        filterList(query);
      });

      function filterList(query) {
        $.ajax({
          url: "{% url 'filter-symptoms' %}",  
          type: "GET",
          data: { query: query },
          success: function (data) {
            updateFilteredList(data);
          }
        });
      }

      function updateFilteredList(data) {
        var $filteredList = $("#filtered-symptoms");
        $filteredList.empty();
        data.forEach(function (item) {
          $filteredList.append("<div class='individual-symptom'>" + item + "</div>");
        });

        $('.individual-symptom').click(function() {
          addOrRemoveFromSelectedList(this);
        });

      }
    
      let selectedSymptoms = [];
      const selectedSymptomsContainer = $('.selected-symptoms-container');

      $('.individual-symptom').click(function() {
        addOrRemoveFromSelectedList(this);
      });

      selectedSymptomsContainer.on('click', '.selected-symptom', function() {
        addOrRemoveFromSelectedList(this);
      });

      $('#classify-button').click(function() {
       
        $.ajax({
          url: "{% url 'classify-symptoms' %}",  
          type: "GET",
          data: { selected_symptoms: selectedSymptoms },
          success: function (data) {
            $("#chatbot-button").toggle();
            $(".classifier-container").toggle();
            $(".classifier-output-container").toggle();

            formatDiseaseData(data, selectedSymptoms);
            
            selectedSymptoms = [];
            updateSelectedSymptoms(selectedSymptomsContainer, selectedSymptoms);
          }
        });

      });

      function addOrRemoveFromSelectedList(container){
        const symptomText = $(container).text().trim();
    
        if ($.inArray(symptomText, selectedSymptoms) === -1) {
          selectedSymptoms.push(symptomText);
          $(this).addClass('selected');
        } else {
          selectedSymptoms.splice($.inArray(symptomText, selectedSymptoms), 1);
          $(this).removeClass('selected');
        }

        updateSelectedSymptoms(selectedSymptomsContainer, selectedSymptoms);
      }

      function updateSelectedSymptoms(container, symptoms) {
        container.empty(); 
        if (symptoms.length > 0) {
          for (const symptom of symptoms) {
            const selectedSymptom = $('<div class="selected-symptom">' + symptom + '</div>');
            container.append(selectedSymptom);
          }
        }
      }

      function cleanData(data){
        return data.trim().replace(/ /g, '').replace(/_/g, '').toLowerCase();
      }

      function formatDiseaseData(data, selectedSymptoms){
        const outputContainer = $('.classify-output-container');
            
        datasetLength = data['totalDataset'];
        disease = data['diseases'];
        dataset = data['dataset'];

        for(let i = 0; i < selectedSymptoms.length; i++){
          selectedSymptoms[i] = cleanData(selectedSymptoms[i]);
        }
        
        for(let i = 0; i < disease.length; i++){
          let diseaseName = disease[i][0];
          let percentage = ((parseFloat(disease[i][1]) / dataset[diseaseName].length) * 100).toFixed(2) + '%';
          
          let diseaseInfo = $('<div>', {
            text:`${diseaseName}: ${percentage}`,
            class: 'disease-name-percent-container'
          });

          let diseaseSymptomsHeader = $('<div>', {
            text:`Disease Symptoms:`,
            class: 'disease-symptom-header'
          });

          let diseaseSymptomsList = $('<div>', {
            class: 'symptom-list-container'
          });

          for (const symptom of dataset[diseaseName]) {
            const listItem = $('<div>').text(symptom);
            if (selectedSymptoms.includes(cleanData(symptom))) {
              listItem.addClass('highlighted-symptom');
            }

            diseaseSymptomsList.append(listItem);
          }

          let singleOutputContainer = $('<div>', {
            class: 'single-disease-container'
          });

          singleOutputContainer.append(diseaseInfo, diseaseSymptomsHeader, diseaseSymptomsList);
          outputContainer.append(singleOutputContainer);
         
        }
      }
    });
  </script>
  
{% endblock %}