{% extends 'main/base.html' %}

{% load static %}

{% block page_content %}
  <div id="profile-page-container">
    
    <div class="form-label-container">
      <div><img class="logo" src="{% static 'main/assets/logo.svg' %}"></div>
      <div class="text-container">
        Profile: {{ user.username }}
      </div>
    </div>

    <div class="user-profile-container">
    
      <div class="scrollbar-container">
      
        <div class="user-individual-data-container">
          <div class="data-label">Username: </div>
          <div class="data">
            {% if user_data.username %} {{ user_data.username}} {% else %} Unset {% endif %}
          </div>
        </div>
        <div class="user-individual-data-container">
          <div class="data-label">First Name: </div>
          <div class="data">
            {% if user_data.first_name %} {{ user_data.first_name}} {% else %} Unset {% endif %}
          </div>
        </div>
        <div class="user-individual-data-container">
          <div class="data-label">Last Name: </div>
          <div class="data">
            {% if user_data.last_name %} {{ user_data.last_name}} {% else %} Unset {% endif %}
          </div>
        </div>
        <div class="user-individual-data-container">
          <div class="data-label">Age: </div>
          <div class="data">
            {% if user_data.age %} {{ user_data.age}} {% else %} Unset {% endif %}
          </div>
        </div>
        <div class="user-individual-data-container">
          <div class="data-label">Gender: </div>
          <div class="data">
            {% if user_data.gender %} {{ user_data.gender}} {% else %} Unset {% endif %}
          </div>
        </div>
        <div class="user-individual-data-container">
          <div class="data-label">Bio: </div>
          <div class="data bio-container">
            {% if user_data.bio %} {{ user_data.bio}} {% else %} Unset {% endif %}
          </div>
        </div>

        <hr>

        <div class="user-individual-data-container">
          <div class="data-label">I am overweight: </div>
          <div class="data">
            {% if user_data.is_overweight %} {{ user_data.is_overweight}} {% else %} Unset {% endif %}
          </div>
        </div>
        <div class="user-individual-data-container">
          <div class="data-label">I smoke cigarettes: </div>
          <div class="data">
            {% if user_data.is_smoking_cigarettes %} {{ user_data.is_smoking_cigarettes}} {% else %} Unset {% endif %}
          </div>
        </div>
        <div class="user-individual-data-container">
          <div class="data-label">I have been recently injured: </div>
          <div class="data">
            {% if user_data.is_recently_injured %} {{ user_data.is_recently_injured}} {% else %} Unset {% endif %}
          </div>
        </div>
        <div class="user-individual-data-container">
          <div class="data-label">I have high colesterol: </div>
          <div class="data">
            {% if user_data.is_high_cholesterol %} {{ user_data.is_high_cholesterol}} {% else %} Unset {% endif %}
          </div>
        </div>
        <div class="user-individual-data-container">
          <div class="data-label">I have high hypertension: </div>
          <div class="data">
            {% if user_data.is_having_hypertension %} {{ user_data.is_having_hypertension}} {% else %} Unset {% endif %}
          </div>
        </div>
        <div class="user-individual-data-container">
          <div class="data-label">I have high diabetes: </div>
          <div class="data">
            {% if user_data.is_diabetic %} {{ user_data.is_diabetic}} {% else %} Unset {% endif %}
          </div>
        </div>

        <hr>

      </div>

      <div class="dhi-user-aggreement-container">
        <div class="dhi-user-aggreement-label">
          I, 
            {% if user_data.username != '' %} 
              <span class="text-bolder">{{ user_data.username}}</span>
            {% else %}
              the <span class="text-bolder">User </span>
            {% endif %}
          , agree to the DHILab terms and conditions.
        </div>
        <input type="checkbox" class="readonly-checkboxes" {% if user_data.is_agree_terms_and_condition %}checked{% endif %} readonly>  
      </div>    

      <a class="update-user-data" href="{% url 'update-user-data' %}">Update User Data</a>

    </div>

    <script type="text/javascript">
      var readonlyCheckeboxes = document.querySelectorAll('.readonly-checkboxes');
      var readonlyInputs = document.querySelectorAll('.readonly-inputs');

      readonlyCheckeboxes.forEach(function(checkbox) {
        checkbox.addEventListener('click', function(event) {
          event.preventDefault();
          checkbox.checked = !checkbox.checked;
          return false;
        });
      });

      readonlyInputs.forEach(function(input) {
        input.readOnly = true;
        input.addEventListener('click', function(event) {
          event.preventDefault();
        });
      });
    </script>
  </div>
{% endblock %}